@font-face {
	font-family: Real;
	src: url("/font/main.ttf");
}
@font-face {
	font-family: "Motiva Sans";
	src: url("/font/MotivaSansThin.ttf");
	font-weight: 300;
}
@font-face {
	font-family: "Motiva Sans";
	src: url("/font/MotivaSansRegular.ttf");
	font-weight: 400;
}
* {
	box-sizing: border-box;
	font-family: inherit;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	//font-family: Real, sans-serif;
	font-size: 34px;
}

h1 {
	margin: 0;
}

button {
	font-size: unset;
	background-color: unset;
	border: currentColor 4px solid;
	padding: 0.2em 0.6em;
	cursor: pointer;
	&:hover {
		background-color: #44444411;
	}
	&:active {
		background-color: #4444442a;
	}
}